{:kotoba.app/id "cloud.itonami.isic-1430", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidwg3n2vti3jrp5kdkjme6mf4s7b3mxltbftsea6eteewm67p4t2i", :kotoba.app/embed-url "ipfs://bafkreidwg3n2vti3jrp5kdkjme6mf4s7b3mxltbftsea6eteewm67p4t2i", :published {:archive "https://kotobase.net/ipfs/bafkreidwg3n2vti3jrp5kdkjme6mf4s7b3mxltbftsea6eteewm67p4t2i", :size 72815, :put-status 201, :get-status 200, :at "2026-08-15T14:01:10.162Z"}}
